# Ignore logs, builds, dependencies

# Backend
/backend/target/
/backend/.mvn/
/backend/.idea/
*.log

# Frontend
/frontend/node_modules/
/frontend/build/
/frontend/.env

# OS files
.DS_Store
Thumbs.db
